.vscode/settings.json
app/.vscode/launch.json
app/.vscode/settings.json
app/lib/__pycache__/MongoDB.cpython-310.pyc
app/lib/__pycache__/General.cpython-310.pyc
app/lib/__pycache__/Authlib.cpython-310.pyc
